<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}} {{active_about}}</p>
        <p>
      <div class="page">
        
          <h2 class="page__title">Detail Page</h2>

          <div class="page__text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
            <a href="http://css-tricks.com" class="btn btn--orange btn--big">
              <span class="btn__price">$3</span>
              <span class="btn__text">Big button</span>
            </a>
        </p>

      </div>

    </div>

</div> <!-- /container -->
